.container {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: monospace;
    min-width: 1200px;
    color: white;
    background-color: black;
    padding: 0;
}

h1 {
    padding-inline-end: 20px;
 }

p {
    font-size: 10pt;
}

form {
    display:table;
}

form p {
    display: table-row;
}

form label {
    display: table-cell;
    padding-right: 10px;
    padding-bottom: 5px;
}

input {
    display: table-cell;
    text-align: right;
    font-family: monospace;
}

select {
    text-align: right;
    font-family: monospace;
}

.item {
    flex: 1 1 calc(33% - 10px);
    margin: 5px;
}

.doubleGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 0px 15px;
  }

.tripleGrid {
      display: grid;
      grid-template-columns: 25% 25% 50%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-inline: 0px 15px;
}

.quadGrid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 0px 15px;
}